! My Xresources

! XFT
Xft.antialias: true
Xft.autohint: false
Xft.embolden: false
Xft.hinting: false
Xft.hintstyle: hintnone
Xft.rgba: rgb


! CURSOR
Xcursor.theme: DMZ-White
Xcursor.size: 24


! FONT
Rxvt.font: \
  xft:Droid Sans Mono:size=11:antialias=true, \
  xft:AXIS Std:size=11:antialias=true
Rxvt.boldFont: \
  xft:Droid Sans Mono:size=11:antialias=true:bold, \
  xft:AXIS Std:size=11:antialias=true:bold
Rxvt.imFont: \
  -sony-fixed-medium-r-normal--16-*-*-*-*-*-iso8859-1, \
  -sony-fixed-medium-r-normal--16-*-*-*-*-*-jisx0201.1976-0, \
  -jis-fixed-medium-r-normal--16-*-*-*-*-*-jisx0208.1983-0


! COLOR
Rxvt.color0: #000000
Rxvt.color1: #990000
Rxvt.color2: #009900
Rxvt.color3: #999900
Rxvt.color4: #000099
Rxvt.color5: #990099
Rxvt.color6: #009999
Rxvt.color7: #999999
Rxvt.color8: #555555
Rxvt.color9: #cc6633
Rxvt.color10: #00cc00
Rxvt.color11: #cccc00
Rxvt.color12: #3366cc
Rxvt.color13: #cc00cc
Rxvt.color14: #00cccc
Rxvt.color15: #ffffff

Rxvt.background:  #222222
Rxvt.foreground:  #cccccc
Rxvt.cursorColor: #cccccc
Rxvt.cursorColor2: #000000


! MISC
Rxvt.externalBorder: 0
Rxvt.geometry: 80x25
Rxvt.internalBorder: 4
Rxvt.lineSpace: 0
Rxvt.saveLines: 1000
Rxvt.scrollBar: false
Rxvt.secondaryScreen: true
Rxvt.secondaryScroll: true
Rxvt.termName: rxvt-256color
Rxvt.visualBell: false
