@import url("user.css");

.lhshdr {
  right: 0px !important;
}

#leftnav {
  width: 160px !important;
  right: 0px !important;
  padding-right: 0px !important;
}

#center_col, #foot {
  margin-left: 0px !important;
  margin-right: 160px !important;
}

#rhscol,
#tads,
#bottomads,
#vspb,
.hd,
.vspi,
.vspib {
  display: none !important;
}
