@import url("user.css");

#center_col {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#center_col,
#foot {
  width: 648px !important;
}

#hdtb_msb .hdtb_mitem:first-child.hdtb_msel,
#hdtb_msb .hdtb_mitem:first-child.hdtb_msel_pre {
  margin-left: 8px !important;
}

.ab_tnav_wrp {
  margin-left: 0 !important;
}
  
._Ak {
  display: none !important;
}
