@import url("user.css");

* {
  font-family: "Droid Sans", "Trebuchet MS", sans-serif !important;
}

pre,
pre * {
  font-family: "Monaco", "Consolas", monospace !important;
}

blockquote,
pre {
  background: #f4f2ef !important;
  border: 1px solid #808080 !important;
  margin: 0.5em 0em !important;
  padding: 0.5em !important;
}

blockquote p {
  margin: 0px !important;
}

#left_container {
  border-right: 1px solid #cccccc !important;
  z-index: 1 !important;
}

#right_container {
  border-left-width: 0px !important;
}

#subs_container {
  direction: ltr !important;
}

.flat .treeitem {
  height: auto !important;
}

.folderitem,
.treeitem {
  font-weight: bold;
}

.title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.channel,
.channel_toolbar {
  border-bottom: 1px solid #cccccc !important;
  margin: 0px !important;
}

.item_info {
  text-indent: -3em !important;
}

.item_info > a {
  visibility: hidden !important;
}

.item_info > a::after {
  font-size: smaller !important;
  visibility: visible !important;
  content: attr(href) !important;
}

.category {
  color: #717578 !important;
}

.item {
  border-bottom: 1px solid #cccccc !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  word-wrap: break-word;
}

.padding {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.odd,
.even {
  background-color: #ffffff !important;
}

.hilight {
  background-color: #f5f5f5 !important;
}

.body img {
  max-width: 100% !important;
}

#control,
#message_box {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px !important;
}

#total_unread_count {
  position: fixed !important;
  top: 14px !important;
  right: 0px !important;
  height: 14px !important;
  margin-top: -7px !important;
  padding: 0px 6px !important;
  z-index: 1 !important;
}

#menu {
  position: static !important;
  height: 30px !important;
}

.body > a[href^="http://rss.rssad.jp"],
.body > a[href^="http://rss.rssad.jp"] + br {
  display: none !important;
}

#header,
#reader_logo,
#ads_top,
#up_button,
#down_button,
#myclip_button,
#myfeed,
#right_top_navi,
#GuideHeadBox,
.adsWrapper,
.fontpad,
.item_buttons,
.FullBox,
.GuideNavigationWrapper,
.HintAndRecommendBox,
td[style^="width:260px;height:48px;"] {
  display: none !important;
}
