a[target="_blank"] {
  cursor: help !important;
}

pre, tt, code, samp, kbd {
  font-family: "TheSans Mono", "Consolas", "Courier New", monospace !important;
}

[class="ad"],
[class="ads"],
[class^="ads-"],
[class^="ad-"],
[class^="ads_"],
[class^="ad_"],
[class$="_ads"],
[class$="_ad"],
[href^="http://ad."],
[src^="http://ad."] {
  display: none !important;
}
