<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.mysql.mysqld</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>Program</key>
    <string>/Users/emon/Gentoo/usr/bin/mysqld_safe</string>
    <key>WorkingDirectory</key>
    <string>/Users/emon/Gentoo/usr</string>
  </dict>
</plist>
